---
import "@fontsource-variable/inter";
import LandingPage from "~/components/landing-page/landing-page.astro";
---

<LandingPage backgroundImg="storytelling.png" id="storytelling">
    <div slot="title" class="px-8">
        <h1>Storytelling <br /> Mad Libs for <br />Entrepreneurs</h1>
    </div>
    <div slot="description" class="px-8">
        <p class="mt-2">
            Our brains are wired for stories…. And your marketing should be too.
            This Mad Libs-style guide will walk you through the steps to create campfire-worthy stories for your emails, ads, webinars, website copy.
        </p>
    </div>
    <div slot="form" class="px-8 w-full">
        <script
        async
        data-uid="8a5623c1dd"
        src="https://the-copy-whisperer.ck.page/8a5623c1dd/index.js"
        ></script>
    </div>
    <div slot="content" class="px-8">
        <h2 
        class="text-left font-extrabold tracking-tighter text-orange text-3xl pb-4">
            For the last<br/>
            27,000 years...
        </h2>
        <div class="text-justify">
            <p class="pb-4">
                Storytelling has been the human strategy to pass down information,
                to ensure that information is remembered, and to inspire action.
            </p>

            <p class="pb-4">
                Storytelling is built into how we think — so much so that our brains respond to, remember, 
                and recall stories better than any other method of sharing information like listing out facts, or a PowerPoint presentation,
                or any other form of sharing information that lacks a narrative structure.
            </p>

            <p class="pb-4">
                Storytelling has the power to hook attention, create trust and connection, forge bonds based in trust,
                and influence the reader's actions long after reading. 
            </p>

            <p class="pb-4">
                Because of that neurochemical dance that happens in our brains when we read a great story, 
                storytelling becomes a bridge of trust connecting us, our ideal customer, and their decision to buy our service or product. 
            </p>

            <p class="pb-4">
                Whether you send weekly emails, create video content, speak on stages,
                or pay for ads—stories are a great way to stand out, build trust, and inspire action. 
            </p>
            <p class="pb-4 text-orange font-bold">
                And storytelling is a tool every entrepreneur should have in their marketing toolbox! 
            </p>
        </div>
    </div>
</LandingPage>