---
import Underline from "~/components/underline.astro";
import Section from "~/components/section.astro"
---

<Section className="bg-cream sm:py-12 py-4">
    <section
    id="ai-callout"
    class="flex scroll-mt-24 flex-col gap-0 space-y-1 sm:gap-4"
    >
        <div class="flex flex-col gap-3 sm:gap-4">
            <h2
            class="text-left font-larken font-extrabold tracking-tight text-darksteel text-5xl pb-2"
            >
            AI
            is <Underline className="text-orange" text="hurting" /> more than it's <Underline className="text-orange" text="helping" />
          </h2>
        </div>
        <div class="m-auto text-darksteel">
            <div class="flex lg:flex-row flex-col flex-col text-left gap-4">
            <!-- Photo small/mobile -->
            <div
                class="flex lg:hidden flex-col items-center justify-center md:visible"
            >
                <img
                class="w-3/5 m-auto rotate-3"
                src="/dumb_ai.png"
                />
            </div>
            <div class="w-full flex-1 lg:w-3/4 sm:w-full">
                <p class="mb-4">
                <span class="font-bold">
                  It's no secret that the world has become pretty obsessed with AI... 
                </span>
                  everywhere you look, entrepreneurs are asking AI to write their content, develop their marketing strategies, 
                  even walk their dog (I'm sure this is coming)…
                </p>
                <p class="mb-4">
                  And AI can be an incredible tool. 
                </p>
                <p class="mb-4">
                  <span class="font-bold">
                  But if you don't have the skills to take what it gives you and rewrite
                  it in a way that sounds personal, relatable, and real, then it's going to hurt more than it helps.
                  </span>
                </p>
                <p class="mb-4">
                  By 2025, it's predicted that as much as 90% of online content will be written by AI. That means content written for humans by
                  humans will be rare. What is rare will be valued. And what is valued will be read.
                </p>
                <p class="mb-4">
                  So while everyone else is turning to AI to grow their business, the way to stand out in this increasingly artificial world is to be relatably and authentically yourself.
                  To be human. 
                </p>
            </div>
            <!-- Photo large -->
            <div
                class="flex lg:block flex-col items-center justify-center lg:w-1/4 md:hidden sm:hidden xs:hidden hidden"
            >
                <img
                class="w-full m-auto max-w-72 rotate-3"
                src="/dumb_ai.png"
                />
            </div>
        </div>
    </section>
</Section>