---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import Underline from "~/components/underline.astro";
import Section from "~/components/section.astro";
import type { FeatureItem } from "~/types";
---

<Section className="bg-cream px-8 pt-8 sm:py-12">
  <section class="bg-cream" id="at-a-glance">
    <div class="flex flex-col items-center">
      <h2
        class="bg-highlight-darkgreen py-4 text-center font-larken font-extrabold text-cream text-4xl sm:px-8 sm:py-6 py-3 px-2 sm:text-left"
      >
        Marketing For Humans
      </h2>
      <h3 class="mt-2 bg-highlight-darkgreen p-2 px-6 text-cream text-xl">
        At A Glance...
      </h3>
      <div class="flex flex-col items-center text-darkgreen">
        <div
          class="grid grid-cols-1 items-start sm:mt-6 sm:w-full lg:grid-cols-5 sm:gap-4"
        >
          <!-- Left Column -->
          <div class="left-col col-span-3">
            <div class="rounded-lg">
              <div class="rounded-lg">
                <div class="leading-7 text-darkgreen">
                  <span class="text-md font-extrabold text-xl">
                    Day one, you'll gain access to the <br />members-only site
                    containing all the good stuff:
                  </span>
                  <br />
                  <br />
                  <ul class="checkmark-list list-disc p-3">
                    <li>
                      <span class="font-extrabold"
                        >Hours of step-by-step video training</span
                      > showing you how to create connection, trust, and authority
                      with your ideal customers.
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold">
                        Easy to follow templates, formulas, and prompts
                      </span>
                      to give you a first principals understanding of marketing and
                      copywriting.
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold">
                        A deep dive into branding
                      </span>
                      that helps you stand out and creates irrationally loyal customers.
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold">
                        A master class on storytelling

                      </span>
                        including step-by-step instructions on how to craft relatable,
                        entertaining, and value packed stories every time.
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold">
                        A simple comedy writing framework
                      </span>
                      you can use to build trust, connection, and LOLs.
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold"
                        >Worksheets, guides, and checklists for each module</span
                      >
                      to easily apply the lessons directly into your business.
                      <br />
                      <br />
                    </li>
                    <Underline className="text-xl italic" text="But that's not all!" />
                    <span class="text-sm text-thin">(Infomercial voice)...</span>
                    <br />
                    <br />
                    <li>
                      <span class="font-extrabold">Deep dive bonus trainings</span>
                      on how to tap into the flow state and get the creativity juices flowin'.
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold">A specific, actionable storytelling framework </span>
                      for your About Me page, client case studies, and more!
                      <br />
                      <br />
                    </li>
                    <li>
                      <span class="font-extrabold"> 24/7 Lifetime (and Afterlife time) Access</span>
                      to your course materials. They're yours as long as you want 'em (Afterlife internet connection may be spotty).
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div
            class="right-col col-span-2 flex hidden h-full items-center justify-center lg:block"
          >
            <img
              class="w-full rotate-3"
              src="/the_whole_package.png"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

</Section>
<style>
  .checkmark-list li {
    list-style-type: none;
    position: relative;
    padding-left: 30px; /* Adjust as needed to accommodate the size of your SVG */
  }

  .checkmark-list li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0; /* Adjust the position as needed */
    width: 40px; /* Set the size of your SVG */
    height: 40px; /* Set the size of your SVG */
    background-image: url("/checkmark-darkgreen.svg"); /* Path to your SVG file */
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>