---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Branding",
    description: "",
    icon: "wave",
  },
  {
    title: "Storytelling",
    description:
      "This course places a special emphasis on the transformative power of storytelling in your marketing. Whether it's your website, about page, weekly emails, case studies, webinar, or stage time — telling a good story is the best marketing strategy you can use. Discover how to use storytelling as a dynamic tool to forge deep connections with your audience. It's not just about telling your story; it's about telling it in a way that resonates, engages, and inspires action. Learn to weave your experiences, values, and vision into stories that not only define your brand but also create a powerful emotional bond with your clients and customers.  Storytelling in business isn't just a skill; it's an art and a science that can elevate your personal brand to new heights and grow your businesses with ease.",
    icon: "starstruck",
  },
  {
    title: "Get your customers to say “I’m in!”",
    description:
      "What's stopping your customers from buying? You'll learn how to address those roadblocks head-on through the power of storytelling. Stories have the power to connect, inspire, and motivate, helping your customers go from “I’m not sure” to “I’m in!”",
    icon: "hand-raise",
  },
  {
    title: "Disarm them with humor",
    description:
      "Ever noticed how a good laugh can melt away tension? How the most shareable Instagrams are the funniest?  It's not just about making your audience laugh — it's about making them comfortable, receptive, ready to listen. Learn how to craft messages that are not only memorable, but irresistable.",
    icon: "laugh",
  },
  {
    title: "Turn skepticism into sales",
    description:
      "Clearly understand what moves and motivates your customers and learn the secret to creating a marketing strategy around that transforms their doubt into confidence and makes them eager to buy.",
    icon: "moneybag",
  },
  {
    title: "Master your content game",
    description:
      "Desperate for content ideas?  Discover how to craft a strategy that makes you the go-to source in your niche — not just any brand, but the one who's truly walked in your customers' shoes. This is your key to creating content that resonates and attracts your ideal audience.",
    icon: "trophy",
  },
];
---

<section class="bg-champagnepink py-12" id="at-a-glance">
  <div class="flex flex-col items-center">
    <h2
      class="bg-highlight-darkgreen p-3 px-6 font-larken font-extrabold text-champagnepink text-4xl"
    >
      Marketing For Humans
    </h2>
    <h3 class="mt-2 bg-highlight-darkgreen p-2 px-6 text-champagnepink text-xl">
      At A Glance...
    </h3>
    <div class="flex flex-col items-center text-darkgreen">
      <div class="mt-6 grid max-w-6xl grid-cols-3 items-start gap-4">
        <!-- Left Column -->
        <div class="left-col col-span-2">
          <div class="m-6 rounded-lg">
            <div class="m-3 rounded-lg">
              <div class="p-3 leading-7 text-darkgreen">
                <span class="text-md font-extrabold text-lg">
                  Day one, you'll gain access to the members-only site
                  containing the exact marketing strategies I use to grow my
                  business, including:
                </span>
                <br />
                <br />
                <ul class="checkmark-list list-disc p-3">
                  <li>
                    <span class="font-extrabold"
                      >Hours of step-by-step video training</span
                    > showing you how to create connection, trust, and authority
                    in your content.
                    <br />
                    <br />
                  </li>
                  <li>
                    <span class="font-extrabold">
                      Easy to follow templates, formulas, and prompts
                    </span>
                    to give you a first principals understanding of marketing and
                    copywriting.
                    <br />
                    <br />
                  </li>
                  <li>
                    <span class="font-extrabold">
                      A branding guide and checklist
                    </span>
                    to create a consistent and reliable experience across all touchpoints.
                    <br />
                    <br />
                  </li>
                  <li>
                    <span class="font-extrabold">
                      Step-by-step instructions</span
                    >
                    on how to craft relatable, entertaining, and value packed stories
                    every time.
                    <br />
                    <br />
                  </li>
                  <li>
                    <span class="font-extrabold">
                      A simple comedy writing framework
                    </span>
                    you can use to punch up any piece of copy.
                    <br />
                    <br />
                  </li>
                  <li>
                    <span class="font-extrabold"
                      >Worksheets for each module</span
                    >
                    to implement the lessons directly into your business.
                    <br />
                    <br />
                  </li>
                  <li>
                    <span class="font-extrabold"> 24/7 Lifetime Access</span>
                    to your course materials.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="right-col col-span-1 flex h-full items-center justify-center"
        >
          <img
            src="https://assets-global.website-files.com/5f2ae813361eff3ad9282b29/64946b438ebd741fb29ba6f2_Bschool%20Vertical%20Bundle-p-800.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .checkmark-list li {
    list-style-type: none;
    position: relative;
    padding-left: 30px; /* Adjust as needed to accommodate the size of your SVG */
  }

  .checkmark-list li::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0; /* Adjust the position as needed */
    width: 40px; /* Set the size of your SVG */
    height: 40px; /* Set the size of your SVG */
    background-image: url("/checkmark-darkgreen.svg"); /* Path to your SVG file */
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
