---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Branding",
    description: "",
    icon: "wave",
  },
  {
    title: "Storytelling",
    description:
      "This course places a special emphasis on the transformative power of storytelling in your marketing. Whether it's your website, about page, weekly emails, case studies, webinar, or stage time — telling a good story is the best marketing strategy you can use. Discover how to use storytelling as a dynamic tool to forge deep connections with your audience. It's not just about telling your story; it's about telling it in a way that resonates, engages, and inspires action. Learn to weave your experiences, values, and vision into stories that not only define your brand but also create a powerful emotional bond with your clients and customers.  Storytelling in business isn't just a skill; it's an art and a science that can elevate your personal brand to new heights and grow your businesses with ease.",
    icon: "starstruck",
  },
  {
    title: "Get your customers to say “I’m in!”",
    description:
      "What's stopping your customers from buying? You'll learn how to address those roadblocks head-on through the power of storytelling. Stories have the power to connect, inspire, and motivate, helping your customers go from “I’m not sure” to “I’m in!”",
    icon: "hand-raise",
  },
  {
    title: "Disarm them with humor",
    description:
      "Ever noticed how a good laugh can melt away tension? How the most shareable Instagrams are the funniest?  It's not just about making your audience laugh — it's about making them comfortable, receptive, ready to listen. Learn how to craft messages that are not only memorable, but irresistable.",
    icon: "laugh",
  },
  {
    title: "Turn skepticism into sales",
    description:
      "Clearly understand what moves and motivates your customers and learn the secret to creating a marketing strategy around that transforms their doubt into confidence and makes them eager to buy.",
    icon: "moneybag",
  },
  {
    title: "Master your content game",
    description:
      "Desperate for content ideas?  Discover how to craft a strategy that makes you the go-to source in your niche — not just any brand, but the one who's truly walked in your customers' shoes. This is your key to creating content that resonates and attracts your ideal audience.",
    icon: "trophy",
  },
];
---

<section class="bg-darkgreen py-12">
  <div class="flex flex-col items-center">
    <h2
      class="bg-highlight-champagne p-3 px-6 font-larken font-extrabold text-darkgreen text-4xl"
    >
      Marketing For Humans
    </h2>
    <h3 class="mt-2 bg-highlight-champagne p-2 px-6 text-darkgreen text-xl">
      At A Glance...
    </h3>
    <div class="flex flex-col items-center text-darkgreen">
      <div class="mt-6 grid max-w-6xl grid-cols-2 items-start gap-4">
        <!-- Left Column -->
        <div class="left-col">
          <div class="m-6 rounded-lg bg-champagnepink">
            <div class="m-3 rounded-lg bg-champagnepink">
              <div class="p-3 text-darkgreen">
                <span class="font-bold text-lg">
                  Marketing For Humans is an in-depth marketing course focused
                  on giving your customer more of what they want most: A little
                  human connection.
                </span>
                <br />
                <br />
                Modern marketing is all about building relationships with our customers
                and humans build relationships by telling each other stories. Whether
                it's your audience, a potential customer, or your best friend, we
                tell stories to connect with one another. When we share ourselves
                through story, we create intimacy, trust, and fun where it didn’t
                exist before.
                <br />
                <br />
                Stories in our marketing is one of the most powerful tools at our
                disposal and in a gimmick world of selling — stories are perfectly
                human.
              </div>
            </div>
          </div>

          <div class="m-6 rounded-lg bg-champagnepink">
            <div class="m-3 rounded-lg bg-champagnepink">
              <div class="p-3 text-darkgreen">
                <span class="font-bold text-lg">
                  In addition to all of that, you'll also get...
                </span>
                <br />
                <ul class="list-disc p-3">
                  <li>
                    <span class="font-bold"
                      >X Hours of step-by-step video training</span
                    > showing you exactly how to create connection, trust, and authority
                    in your content.
                    <br />
                  </li>
                  <li>
                    <span class="font-bold">
                      Easy to follow templates, formulas, and prompts
                    </span>
                    to give you a first principals understanding of marketing and
                    copywriting
                  </li>
                  <li>
                    <span class="font-bold">
                      A brand questionnaire and branding guide
                    </span>
                    to create a consistent and reliable experience across all mediums.
                  </li>
                  <li>
                    <span class="font-bold"> Step-by-step instructions</span>
                    on how to craft relatable, entertaining, and value packed stories
                    every time
                  </li>
                  <span class="font-bold">
                    A deep dive into comedy writing frameworks
                  </span>
                  to punch up any piece of copy
                  <li>
                    <span class="font-bold">Worksheets for each module</span>
                    to implement the lessons directly into your business.
                  </li>
                  <li>
                    <span class="font-bold"> 24/7 Lifetime Access</span>
                    to your course materials
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div>
          <div class="mt-6 grid gap-4">
            <!-- Repeated Items -->
            <div
              class="flex flex-col justify-center gap-4 rounded-lg border border-champagnepink bg-white p-6"
            >
              <div>
                <p class="text-left font-extrabold text-xl">Branding</p>
                <p class="text-left text-offset text-sm">
                  As an entrepreneur, it's easy to fall into the trap of
                  following industry norms. This program empowers you to
                  challenge the status quo by embracing the qualities that make
                  you, you. Learn not only to differentiate yourself from the
                  competition but to set new standards in your industry. This
                  course isn't just about standing out; it's about leading the
                  way and inspiring change through your unique personality,
                  values, and point of view. Be the entrepreneur who doesn't
                  just follow trends but creates them.
                </p>
              </div>
            </div>

            <div
              class="flex flex-col justify-center gap-4 rounded-lg border border-champagnepink bg-white p-6"
            >
              <div>
                <p class="text-left font-extrabold text-xl">Storytelling</p>
                <p class="text-left text-offset text-sm">
                  This course places a special emphasis on the transformative
                  power of storytelling in your marketing. Whether it's your
                  website, about page, weekly emails, case studies, webinar, or
                  stage time — telling a good story is the best marketing
                  strategy you can use. Discover how to use storytelling as a
                  dynamic tool to forge deep connections with your audience.
                  It's not just about telling your story; it's about telling it
                  in a way that resonates, engages, and inspires action. Learn
                  to weave your experiences, values, and vision into stories
                  that not only define your brand but also create a powerful
                  emotional bond with your clients and customers. Storytelling
                  in business isn't just a skill; it's an art and a science that
                  can elevate your personal brand to new heights and grow your
                  businesses with ease.
                </p>
              </div>
            </div>

            <div
              class="flex flex-col justify-center gap-4 rounded-lg border border-champagnepink bg-white p-6"
            >
              <div>
                <p class="text-left font-extrabold text-xl">Humor</p>
                <p class="text-left text-offset text-sm">
                  Dive into the art of humor and comedy and learn how it can
                  revolutionize your approach to marketing and sales. Humor
                  isn't just about getting laughs; it's a strategic tool that
                  humanizes your brand, gets customers to put their guard down,
                  and helps you stand out and be remembered . This course will
                  guide you through the process of crafting jokes and comedic
                  content that aligns with your brand, helping you to not just
                  sell, but to connect and entertain. This approach allows you
                  to engage with your audience on a more personal and relatable
                  level. Anytime we’re selling — humor can help. Humor can be
                  disarming, helping to ease the tension of a transaction and
                  illustrating yoru intent to not just sell, but help.
                </p>
              </div>
            </div>

            <!-- Repeat the above div for more items -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
