<section class="px-8 py-0" id="instructor">
  <div class="flex flex-col items-center">
    <div
      class="mt-12 grid max-w-5xl grid-cols-1 items-end gap-4 sm:gap-48 md:grid-cols-3"
    >
      <div class="col-span-2">
        <div class="py-8">
          <h2 class="mb-4 font-larken font-extrabold text-darksteel text-4xl">
            Who Teaches Marketing For Humans?
          </h2>
          <p>
            Marketing For Humans is led by Nadia Ouazzi, a White House intern,
            turned Googler, turned comedy writer, turned copywriter and
            marketing strategist.
          </p>
          <br />
          <p>
            Known to many
            <span class="italic"> (but acknowledged by none)</span>
            as a total genius, model, and most brilliant mind of the 21st century,
            Nadia’s mission in life is to bring authenticity and fun back into the
            work we do.
          </p>
          <br />
          <p>
            Her unconventional (but story worthy) career path has led to her an
            authentic, feel-good approach to marketing, sales, and life — an
            approach that feels enjoyably, hilariously, and relatably human.
          </p>
          <div class="flex grid grid-cols-1 flex-col sm:grid-cols-3">
            <button
              class="mt-8 items-center rounded-lg bg-orange px-6 py-3 text-center font-bold text-white hover:bg-champagnepink"
              style="box-shadow: 2px 2px 0 1px black;"
              data-formkit-toggle="b8aa984805"
              href="https://the-copy-whisperer.ck.page/b8aa984805"
            >
              Sign Me Up!
            </button>
          </div>
        </div>
      </div>
      <div class="m-auto w-[150px] items-center sm:m-0 sm:w-[300px]">
        <img
          src="https://assets-global.website-files.com/5f2ae813361eff3ad9282b29/6441a1e6ac48d699fabac167_MarieForleo_WhoTeachesBSchool.png"
          alt="Instructor Image"
          class="object-bottom"
        />
      </div>
    </div>
  </div>
</section>
