---
import Section from "~/components/section.astro";
---

<Section>
  <section class="pt-4 pb-0" id="instructor">
    <div class="flex flex-col items-center">
      <div class="flex flex-col lg:flex-row text-darksteel">
        <!-- Medium img as new row -->
        <div class="m-auto items-center lg:hidden md:block hidden mb-8 lg:hidden block mt-0 w-3/5">
          <img
            src="/youtube_headshot.png"
            alt="Instructor Image"
            class="object-bottom relative bottom-[-35px] z-[-1]"
          />
        </div>
        <!-- Mobile img as new row -->
        <div class="m-auto items-center block xs:block sm:block md:hidden mb-8 lg:hidden block mt-0 w-4/5">
          <img
            src="/youtube_headshot.png"
            alt="Instructor Image"
            class="object-bottom relative bottom-[-35px] z-[-1]"
          />
        </div>
        <div class="relative grid items-end gap-4 lg:grid-cols-3 text-darksteel">
          <div class="col-span-2">
            <div class="py-8">
              <h2 class="font-larken font-extrabold text-darksteel sm:text-4xl text-3xl">
                Who Teaches Marketing For Humans?
              </h2>
              <p class="text-lg leading-none font-normal pb-4">
                Let me introduce you to the one and only <span class="text-orange">Nadia Casey!</span>
              </p>
              <p>
                A former <span class="font-bold">White House</span> intern, 
                who navigated her way to <span class="font-bold">Google</span>,
                started writing for <span class="font-bold">The Onion</span>,
                and then gracefully transitioned into the world of <span class="font-bold">copywriting</span> and 
                <span class="font-bold">
                marketing!
                </span>
              </p>
              <br />
              <p>
                Known to many
                <span class="italic"> (but acknowledged by none)</span>
                as a cool, hip, and overall stylish lady — 
                Nadia’s on a mission to bring authenticity and fun into the work we do while we hurtle around the sun on this rock we call home.
              </p>
              <br />
              <p>
                Her unconventional (but storyworthy) career 
                has allowed her to uncover a delightfully human take on marketing, sales, and life — one that is funny, enjoyable, and most of all... have I said human?

              </p>
              <div class="flex grid flex-col sm:grid-cols-3">
                <button
                  class="mt-8 items-center rounded-lg bg-orange px-6 py-3 text-center font-bold text-white hover:bg-champagnepink"
                  style="box-shadow: 2px 2px 0 1px black;"
                  data-formkit-toggle="b8aa984805"
                  href="https://the-copy-whisperer.ck.page/b8aa984805"
                >
                  Sign Me Up!
                </button>
              </div>
            </div>
          </div>
          <!-- Large+ img -->
          <div class="relative m-auto items-center sm:my-0 w-[800px] lg:block hidden">
            <img
              src="/bio.png"
              alt="Instructor Image"
              class="object-bottom absolute right-[100px] bottom-[-55px] z-[-1]"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</Section>