---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
---

<section class="bg-darkgreen p-20">
  <div class="flex flex-col items-center">
    <h2 class="font-thin uppercase text-cream text-sm">Who I've Worked With</h2>
    <div class="mt-6 grid max-w-6xl grid-cols-3 justify-items-center gap-6">
      <img src="/white-house-logo.png" class="max-h-20 self-center" />
      <img src="/google-white-logo.png" class="max-h-10 self-center" />
      <img src="/the-onion-logo.png" class="max-h-7 self-center" />
    </div>
  </div>
</section>
