---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-1"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="text-left font-larken font-extrabold tracking-tight text-darksteel text-6xl"
    >
      {title}
    </h2>
  </div>
  <p
    class="relative top-[-15px] max-w-xl text-center font-extrabold text-darksteel text-2xl"
  >
    <slot name="lead" />
  </p>
  <slot />
</section>
