---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-0 space-y-1 sm:gap-4"
>
  <div class="flex flex-col items-center gap-3 sm:gap-4">
    <slot name="eyebrow" />
    <h2
      class="text-center font-larken font-extrabold tracking-tight text-darksteel text-4xl sm:text-left sm:text-6xl"
    >
      {title}
    </h2>
  </div>
  <p
    class="text-md relative max-w-xl text-center font-extrabold text-darksteel sm:text-2xl"
  >
    <slot name="lead" />
  </p>
  <slot />
</section>
