<div>
  <br />
  <hr />
  <hr />
  <hr />
  <hr />
  <p>
    In a world of soon-to-be AI written everything and shouting “REPRESENTATIVE”
    into the phone nonstop —
    <span class="font-bold">
      our technologies are quickly advancing, but our brains want what they
      always want: connection.
    </span>
  </p>
  <br />
  <p>
    Today’s consumers need to like, know, and trust you before they buy. You
    have literally become a part of the buying decision. When we buy, we’re no
    longer just buying a product or service based on price and features — we’re
    choosing who we want in our tribe.
  </p>
  <br />
  <p>
    In the unlimited options world we’re living in today, it’s like we’ve become
    a generation of amateur private investigators — refusing to buy anything
    until we’ve scoured the internet of social media posts, About Me pages, and
    comment sections to see if you really are the best person, best brand, best
    option for us.
  </p>
  <br />
  <p>
    Because the truth is… the markets are crowded and you’re not the only person
    offering this service…
  </p>
  <br />
  <p>
    <span class="font-bold">
      No matter how great your product is, you could get lost in the noise.
    </span>
  </p>
  <br />
  <p>
    So the question becomes, how do we prove that you are the best option? How
    do you get consumers to genuinely like, know, and trust you? How do you
    craft marketing that forges lasting connections with your dream customers?
  </p>
  <br />
  <p class="font-bold">That is what Market For Humans will do for you!</p>
</div>

<div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
  <a
    href="https://docs.astro.build/"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <Icon name="mdi:telescope" class="size-8" />
    <span>Read the docs</span>
  </a>
  <a
    href="https://astro.new/"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <Icon name="mdi:rocket" class="size-8" />
    <span>Try it out</span>
  </a>
</div>
