<section class="bg-darkgreen px-8 py-6 sm:p-20">
  <div class="flex flex-col items-center">
    <div
      class="mt-6 grid max-w-4xl justify-items-center gap-6 text-center text-cream"
    >
      <div>
        <h1 class="pb-3 font-larken text-4xl">
          You're all the way down here...<br />but you're not on the waitlist?
        </h1>
        <p class="text-sm">
          Marketing For Humans begins soon.
          <br />
          Get on the waitlist to be the first to know when we open the doors!
        </p>
      </div>
      <div class="grid">
        <script
          async
          data-uid="afb992b695"
          src="https://the-copy-whisperer.ck.page/afb992b695/index.js"></script>
      </div>
    </div>
  </div>
</section>
