---
// Define the component with props
const { className } = Astro.props;
---

<div class={`my-0 ${className}`}>
  <div class="sm:mx-auto lg:max-w-6xl md:max-w-3xl sm:max-w-3xl sm:px-8 xs:px-0 xs:mx-8 mx-4">
    <slot></slot>  <!-- This is where the passed content will appear -->
  </div>
</div>
