---
import Underline from "~/components/underline.astro";
import Section from "~/components/section.astro"
---

<Section className="bg-cream py-12">
    <section
    class="flex scroll-mt-24 flex-col items-center gap-0 space-y-1 sm:gap-4"
    >
        <div class="flex flex-col items-center gap-3 sm:gap-4 pb-4">
            <h2
            class="text-center font-larken font-extrabold tracking-tight text-darksteel sm:text-left text-5xl"
            >
            A lot of marketing today is the <Underline className="text-orange" text="opposite" /> of what people actually want...
            </h2>
        </div>
        <div class="m-auto text-darksteel">
            <div class="flex flex-col md:flex-col lg:flex-row gap-0 text-left">
                <!-- Photo Mobile -->
                <div class="xs:w-full flex-1 flex flex-col items-center justify-center xs:block sm:hidden md:hidden">
                    <img class="w-4/5 m-auto rotate-5" src="/computer.png" />
                </div>
                <div class="w-full flex-1 lg:w-2/3 sm:w-full">
                    <p class="mb-4">
                        <span class="font-bold">Nobody wants to feel sold to.</span>
                        Nobody wants to attend a lame webinar or have their email held hostage for a freebie that frankly isn’t worth the inbox spam.
                    </p>
                    <p class="mb-4">
                        Consumers today are smarter than ever and when we get overly focused on making the sale —
                        we forget what makes people actually want to buy in the first place.
                        So the question we must ask ourselves is...
                        <span class="font-bold">What makes people actually want to buy?</span>
                    </p>
                    <p class="mb-4"></p>
                    <p class="mb-4">
                        People buy when they have a problem they think you can solve... but!
                    </p>
                    <p class="mb-4">
                        <span class="font-bold">What happens when you're not the only person who can solve their problem?</span>
                        In this In this overcrowded market — you're not the only trainer at the gym, not the only business coach online, and you’re definitely not the only Etsy shop selling tiny hats for dogs.
                    </p>
                    <p class="mb-4">
                        When so many businesses are selling the same thing, with the same features, and same benefits…
                        <Underline className="text-orange" text="How are you supposed to stand out?" />
                    </p>
                    <p class="mb-4 text-xl">
                        That's where
                        <span class="font-bold">Marketing for Humans</span>
                        comes in!
                    </p>
                </div>
                <!-- Photo Desktop -->
                <div class="hidden lg:block lg:w-2/5 sm:hidden xs:hidden flex-col items-center justify-center">
                    <img class="w-full rotate-5" src="/computer.png" />
                </div>
                <!-- Photo Small -->
                <div class="hidden sm:flex md:flex lg:hidden flex-1 flex-col items-center justify-center">
                    <img class="w-4/5 m-auto rotate-5" src="/computer.png" />
                </div>
            </div>
        </div>

    </section>
</Section>