---
import { Icon } from "astro-icon/components";
import { Code } from "astro:components";
import ContentSection from "~/components/content-section.astro";
import Underline from "~/components/underline.astro";
---

<div class="my-0 bg-cream px-0 py-8 sm:space-y-24 lg:px-8 lg:pt-24 sm:px-2">
  <div class="mx-8 lg:mx-32">
    <section
    class="flex scroll-mt-24 flex-col items-center gap-0 space-y-1 sm:gap-4"
    >
        <div class="flex flex-col items-center gap-3 sm:gap-4">
            <h2
            class="text-center font-larken font-extrabold tracking-tight text-darksteel text-xl sm:text-left sm:text-5xl"
            >
            A lot of marketing today is the <Underline className="text-orange" text="opposite" /> of what people actually want...
            </h2>
        </div>
        <div class="m-auto text-darksteel">
            <div class="flex flex-row gap-0 text-left sm:gap-20">
            <div class="w-full flex-1 lg:w-2/3 sm:w-full">
                <p class="mb-4">
                <span class="font-bold">
                    Nobody wants to feel sold to.
                </span>
                Nobody wants to attend some lame webinar. Nobody wants their email held hostage for a freebie that frankly isn’t worth the inbox spam.
                </p>
                <p class="mb-4">
                  Consumers today are smarter than ever and 
                    when we get overly focused on making the sale — 
                    we forget what makes people actually want to buy in the first place.
                    So the question we must ask ourselves is...
                    <span class="font-bold">
                        What makes people actually want to buy?
                    </span>
                </p>
                <p class="mb-4">
                </p>
                <p class="mb-4">
                    People buy when they have a problem they think you can solve... but!
                </p>
                <p class="mb-4">
                    In this overcrowded market — <span class="font-bold">
                            you're not the only person who can solve their problem.
                    </span>
                    You're not the only trainer at the gym,
                    the only business coach online,
                    and you’re definitely not the only Etsy shop selling tiny hats for dogs.
                </p>
                <p class="mb-4">
                    When so many businesses are selling the same thing, with the same features, and same benefits…
                    <Underline className="text-orange" text="how are you supposed to stand out?" />
                </p>
                <p class="mb-4">
                    What would make someone want to buy from YOU?
                </p>
                <p class="mb-4 text-xl">
                    <span class="bg-highlight-orange text-cream py-1 px-5">
                    That's where
                        <span class="font-bold">
                        Marketing for Humans
                        </span>
                        comes in!
                        </span>

                </p>
            </div>
            <div
                class="flex lg:block flex-col items-center justify-center lg:w-1/3 sm:hidden xs:hidden"
            >
                <img
                class="w-full max-w-96 rotate-3"
                src="https://assets-global.website-files.com/5f2ae813361eff3ad9282b29/63e69408eaf0942910cd57b8_B-School_iMac-p-800.png"
                />
            </div>
        </div>
    </section>
  </div>
</div>