---
import { Icon } from "astro-icon/components";
import { Code } from "astro:components";
import ContentSection from "~/components/content-section.astro";
import Underline from "~/components/underline.astro";
import Section from "~/components/section.astro"
---

<Section className="bg-champagnepink pb-12">
    <section
    class="flex scroll-mt-24 flex-col gap-0 space-y-1 sm:gap-4"
    >
        <div class="flex flex-col items-center gap-3 sm:gap-4">
            <h2
            class="text-right font-larken font-extrabold tracking-tight text-darksteel text-xl text-5xl"
            >
            When you're trying to stand out in a crowded market,
            <Underline className="text-orange" text="who you are" /> is your competitive advantage.
            </h2>
        </div>
        <div class="m-auto text-darksteel">
            <div class="w-full lg:w-2/3">
                <h2 
                class="text-left tracking-tighter text-xl py-4">
                <span class="font-bold">
                So what if you're not the only trainer at the gym?<br/>
                </span>
                </h2>
            </div>
            <div class="col-span-6 lg:columns-2 sm:columns-1">

                <p class="pb-4">
                    Some people want to train with a retired Olympic athelete.<br />
                    Some want to train with a mom who successfully lost the baby weight (and kept it off).
                </p>
                <p class="pb-4">
                    One trainer is not better than the other — trust me, my mom would quit day one of training with an Olympian.
                    They are each uniquely equipped to inspire and motivate their ideal audience.
                </p>
                <p class="pb-4">
                    If you haven't been in business as long as someone else, had as many clients as someone else, (or you haven't won a gold medal for your country),
                    you may think your story isn't worth telling.
                </p>

                <p class="pb-4">
                    But if you don't tell people who you are, they have no way of knowing if you're the right fit for them.
                </p>

                <p class="pb-4">
                    You might worry: what if I turn some people off? But in dating and business, we don’t want to attract everyone, we want to attract to the people who are perfect for us 
                    (we're not trying to attract the weird guy on the bus).
                </p>
                <p class="pb-4">
                    So instead of focusing your marketing on features and benefits, let's give the people what they want: some humor, personality, and a little human-to-human connection.
                </p>
                <p class="pb-4">
                    Let's show your audience that there's a human behind what you sell (and not only that), but
                    that you're the right human for them.
                </p>
                <p class="pb-4">
                    Marketing For Humans is 
                    <span class="font-bold">
                    the proven system
                    for entrepreneurs to learn how to 
                    stand out, 
                    attract your ideal customers, and generate more revenue than you thought possible
                    </span>
                    — all through the power of marketing like a human.
                </p>
            </div>
        </div>
    </section>
</Section>