---
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "You hate sales",
    description: "The thought of selling makes you feel pushy or inauthentic.",
    icon: "sweat",
  },
  {
    title: "You feel like you're shouting into the void",
    description:
      "You have an incredible product or service, but can't seem to get people's attention.",
    icon: "megaphone",
  },
  {
    title: "You're afraid to be funny",
    description:
      "You love humor, but are afraid to use it for your business. What if someone gets offended?",
    icon: "shy",
  },
  {
    title: "Your strategy is... ???",
    description:
      'Your current marketing strategy consists of saying "I know I should start a YouTube..."',
    icon: "shrug",
  },
  {
    title: "Your AI-written copy feels robotic",
    description: "You use ChatGPT but it always feels impersonal or “off.”",
    icon: "robot",
  },
  {
    title: "You're paralyzed by perfectionism",
    description:
      "Nothing comes out when you sit down to write an ad, an email, a [FILL IN THE BLANK].",
    icon: "frozen",
  },
  {
    title: "You're worried you don't stand out",
    description:
      "Your brand feels like it came from a template instead of the heart.",
    icon: "invisible",
  },
  {
    title: "You feel like somebody else",
    description:
      'You feel like you can\'t "just be yourself" — like you have to put on the "yoga instructor voice" to be a yoga instructor.',
    icon: "disguise",
  },
  {
    title: "You just need a roadmap",
    description:
      "You're a great writer, but need help crafting a marketing strategy to deliver consistent sales.",
    icon: "map",
  },
];
---

<section
  id="who-is-it-for"
  class="bg-champagnepink px-8 py-12 pattern-crosses-darkgreen/100 sm:px-0"
>
  <div class="flex flex-col items-center">
    <h2
      class="bg-highlight p-3 px-6 font-larken font-extrabold text-darksteel text-4xl"
    >
      Who Is Marketing For Humans For?
    </h2>
    <h3 class="mt-2 bg-highlight p-2 px-6 text-darksteel text-xl">
      This course is for you if...
    </h3>
    <div
      class="mt-6 grid max-w-6xl grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
    >
      {
        features.map(({ title, description, icon }) => (
          <div class="flex flex-col items-center justify-center gap-4 rounded-lg border border-default bg-offset p-6">
            <div class="size-16 rounded-full border-2 border-current p-3">
              <Icon name={icon} class="size-full" />
            </div>
            <div>
              <p class="text-center font-extrabold text-xl">{title}</p>
              <p class="text-center text-offset text-sm">{description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
